{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album Details Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Album Detail</h1>

<div class="album">
    <p><a href="{% url 'list_albums' %}">Return Home</a></p>
    <p1>Album Name: </p1>{{ album.title }} <br>
    <p1>Artist Name: </p1>{{ album.artist }} <br>
    
    {% if album.date %}
        <p1>Album Release Date: </p1>{{ album.date }} <br>
    {% endif %}
    {% if album.songcount %}
        <p1>Album Song Count: </p1>{{ album.songcount }} <br>
    {% endif %}
</div>
</body>
</html>
