{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>An's Album Collection</title>
</head>
<body>
    <h1>An's Album Collection</h1>
    <p><a href="{% url 'add_album' %}">Add New Album</a></p>

        <div class="container">
            {% for album in albums %}
            <div class = "album">
                <h2>{{ album.title }}</h2>
                <h3>{{ album.artist }}</h3>
                <p1>Date rendered: </p1><p1>{{ album.created_at }}</p1>
            </div>

            <p>
                <a href="{% url 'album_details' pk=album.pk %}">Album Details</a><br> 
                <a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br>

            </p>
            {% endfor %}
        </div>
</body>
</html>